/* Style sheet for the odin project Landing page */

.header, .hero, .footer {
    background-color: black;
    color: white;
    display: flex; 
}

.header, .hero {
    
    justify-content: space-between;
}
.header {
    padding: 15px 300px;
}

.hero {
    padding: 50px 300px;
}

.left-hero-content, .right-hero-content {
    flex: 1;
    max-width: 425px;
}

.right-hero-content img {
    width: 425px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 40px 300px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    background-color: #ffffa1;
}
.content img {
    display: block;
    border:#4673b3;
    border-radius: 10px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 30%;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom: 40px;
}

#quote-author {
    font-weight: bold;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 50px 15%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.call-to-action h3, .call-to-action p {
    margin: 0;
}

.call-to-action button {
    border: #E5E7EB;
    border-style: solid;
    border-width: thin;
}

.footer {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: black;
}

ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}